
<footer>
  <div class="f-info">
    <div class="f-info-socials">
     <a href="https://github.com/HyIAmHarshit"><i class="fa-brands fa-github"></i></a>
     <a href="https://www.instagram.com/harshit_khandelwal_2025?igsh=MnJkbjUwMnh0aXk="><i class="fa-brands fa-square-instagram"></i></a>
     <a href="https://in.linkedin.com/in/harshit-khandelwal-126776312"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; Explorer Private Limited</div>
    <div class="f-info-links">
     <a href="#">Privacy</a>
     <a href="#">Terms</a>

    </div>
  </div>
</footer>

